name: Changelog

on:
  release:
    types: [ published ]

jobs:
  changelog:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to commit merged changelog
      pull-requests: write # to create PR
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: main

      - name: Generate release changelog
        uses: miniscruff/changie-action@v2
        with:
          version: latest
          args: batch "${{ github.event.release.tag_name }}" --force

      - id: version
        run: echo "version=${TAG#v}" >> $GITHUB_OUTPUT
        env:
          TAG: ${{ github.event.release.tag_name }}

      - id: changelog
        run: |
          cp -rf .changes/${{ github.event.release.tag_name }}.md ${{ github.event.release.tag_name }}.md

      - name: Upload changelog artifact
        uses: actions/upload-artifact@v4
        with:
          name: changelog
          path: .changes/${{ github.event.release.tag_name }}.md

      - name: Update release notes
        env:
          TAG: ${{ github.event.release.tag_name }}
          GH_TOKEN: ${{ github.token }}
        run: gh release edit $TAG --notes-file .changes/$TAG.md

      - name: Merge changelog
        run: changie merge

      - name: Create Pull Request for changelog
        uses: peter-evans/create-pull-request@v8
        id: pr
        with:
          add-paths: |
            CHANGELOG.md
            .changes
          commit-message: "chore: update changelog ${{ github.event.release.tag_name }}"
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          branch: "changelog/${{ steps.version.outputs.version }}"
          delete-branch: true
          title: "Changelog/${{ steps.version.outputs.version }}"
          labels: ${{ github.event.release.tag_name }},changelog
          body-path: ${{ github.event.release.tag_name }}.md

      - uses: wow-actions/use-app-token@v2
        id: token
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - name: approve & merge
        run: |
          gh pr review $PR --approve
          gh pr merge  $PR --auto --merge -d -F ${{ github.event.release.tag_name }}.md
          gh label create ${{ github.event.release.tag_name }} -c "#515C5D" -f
        env:
          GITHUB_TOKEN: ${{ steps.token.outputs.BOT_TOKEN }}
          PR: ${{ steps.pr.outputs.pull-request-number }}
