name: Git mirror

on:
  push:
    branches: [ main ]

jobs:
  git-mirror:
    runs-on: ubuntu-latest
    name: Git Repo Sync
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - uses: wangchucheng/git-repo-sync@v0.1.0
      with:
        target-url: https://gitlab.com/diamn/helmwave.git
        target-username: diamn
        target-token: ${{ secrets.GITLAB_TOKEN }}
