name: Go lint

on:
  pull_request:
    branches: [ "main", "release/*" ]
    paths:
      - "**.go"
      - go.mod
      - go.sum
      - .github/workflows/go-lint.yml
      - .golangci.yml

jobs:
  go-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.4
