name: JSON Schema Manual

permissions:
  contents: write
  packages: write

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'helmwave tag'
        required: true
        type: string

jobs:
  generate-schema:
    runs-on: ubuntu-latest
    container:
      # I hate gha, Because I can't pass variables to image tag with string manipulation.
      image: ${{ format('ghcr.io/{0}:{1}', github.repository, github.event.inputs.tag) }}
    steps:
      - name: generate schema
        run: helmwave schema > schema.json

      - name: upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: schema.json
          path: schema.json

  upload-schema:
    runs-on: ubuntu-latest
    needs:
      - generate-schema
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: download artifact
        uses: actions/download-artifact@v5
        with:
          name: schema.json

      - name: upload to release
        env:
          GH_TOKEN: ${{ github.token }}
          TAG: v${{ github.event.inputs.tag }}
        run: gh release upload $TAG schema.json
  
