name: Send LGTM reaction
on:
  issue_comment:
    types: [created]
  pull_request_review:
    types: [submitted]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: micnncim/action-lgtm-reaction@master # Set some version.
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GIPHY_API_KEY: ${{ secrets.GIPHY_TOKEN }}
      with:
        source: 'giphy'
